@import "base/normalize";
@import "base/reset.local";
@import "base/typography";
@import "fabric/fabric.min.scss";
@import "fabric/fabric.components.min.scss";

div, a, input, button 
{
    transition: all ease-in-out 0.3s;
}

html {

    // The parent container
    .container {

        // The height of the parent container
        height: 100vh;

        .container-grid.back-cover
        {
            height: inherit;

            // Inner rows
            .row
            {
                height: 50%;
            }

            .lower-row
            {
                
            }

            // First backround row
            > div:first-child
            {
                background-image: url("../Images/cover.png");
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;          
            }

            > div:last-child
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                > div
                {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                
                    > img
                    {
                        width: 250px;
                        height: auto;
                    }
                }
            }
        }

        .container-grid.form
        {
            // Set same height as parent
            height: inherit;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            // The general row styles
            .row {

                display: flex;

                // The general column styles
                .col {
                    .sm-label
                    {
                        font-size: $font-smaller;
                    }

                    .ms-CheckBox-field
                    {
                        font-size: $font-smaller;
                    }
                }
            }

            .page-grid {
                // The the page grid be vertical aligned
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                margin: auto auto;

                > .dot-content
                {
                    margin: 0 24px;

                    img 
                    {
                        height: auto;
                        width: 155px;
                    }
                }

                // The logo column
                .logo-col {
                    // Style the logo image

                    > img
                    {
                        width: 100px;

                        // Disable image drag
                        -webkit-user-drag: none;
                    }
                }

                // The login box column
                .login-col {

                    // Set login column background
                    background: white;

                    .login-box-row {

                        .login-form-box {
                            height: auto;
                            width : 400px;

                            padding: 45px;
                            border-radius: 4px;
                            box-shadow: 0 2px 10px rgba(231, 122, 26, 0.3);
                            // box-shadow: 0 15px 35px 0 rgba(60, 66, 87, 0.08), 0 5px 15px 0 rgba(0, 0, 0, 0.12);

                            .login-title
                            {
                                font-size: $font-normal;
                                font-weight: 500;
                            }

                            > form
                            {
                                input.ms-TextField-field
                                {
                                    padding-top: 18px;
                                    padding-bottom: 20px;
                                }

                                .oth-act-row
                                {
                                    justify-content: space-between;
                                    align-items: center;
                                }

                                .lg-btn-row
                                {
                                    flex-direction: column;
                                }

                                .label-group
                                {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                }
                            }
                        }
                    }
                }

                // The 'other signin options' column
                .ot-signin-options-col
                {
                    // Set the background
                    background: #fff;

                    height: auto;
                    width : 400px;

                    padding: 15px 45px;

                    box-shadow: 0 2px 10px rgba(231, 122, 26, 0.3);

                    cursor: pointer;

                    &:hover
                    {
                        background-color: rgb(255, 255, 255);
                        // background-color: rgba(190, 54, 54, 0.1);
                    }

                    .ms-signin-row
                    {
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .ms-logo-col
                        {
                            > img
                            {
                                height: auto;
                                width: 32px;
                            }
                        }

                        .txt-label-col
                        {
                            // flex-grow: 1;
                            padding-left: 25px;
                            font-weight: 500;
                            color: rgb(231, 122, 26);
                        }
                    }
                }
            }
        }
    }

    .clear-fix
    {
        margin: 10px 0;
    }
}
